*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 2fr 2fr; 
    grid-template-columns: 3fr 2fr 2fr;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.input{
    height: 10rem;
    width: 20rem;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: beige;
    padding: 5rem;
    border-radius: 2rem;
}
.input:nth-child() {
    width: 20rem;
}

.form{
    width: 20rem;
    height: 20rem;
    display:flex;
    flex-flow: column;
    justify-content: center;
    background-color: beige;
    padding: 2rem;
    border-radius: 2rem;
    gap: 2rem;
}

.list{
    padding: 0.5rem;
    width: 28rem;
    height: 20rem;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.list h2{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
}