* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 240px;
    border: 0;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
}
